.md-typeset pre {
    max-height: 500px;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.md-footer {
    display: none;
}

.md-nav__item--nested>.md-nav__link {
    color: #2196f3 !important;
}

.md-typeset h2 {
    margin-top: 2.5rem;
    border-bottom: 2px solid var(--md-primary-fg-color);
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.md-typeset h3 {
    margin-top: 2rem;    
}

.md-typeset h4 {
    margin-top: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

.md-typeset h5 {
    margin-top: 1.25rem;
    text-transform: none;
    font-weight: 700;
    color: var(--md-default-fg-color);
    padding-left: .5rem;
    border-left: 4px solid var(--md-primary-fg-color);
}